<!DOCTYPE html>
<html lang="en" xmlns:v-model="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>v-for</title>
    <script type="text/javascript" src="vue.js"></script>
</head>
<body>
<div id="app">

    <!-- 基本语法: <li v-for="变量 in 数字">{{ 变量 }}</li>-->
    <h1>简单的列表渲染</h1>
    <ul>
        <li v-for="i in 3">{{i}}</li>
    </ul>

    <!--基本语法：<li v-for="(变量, 索引) in 值">{{ 变量 }} - {{ 索引 }}</li>-->
    <h1>简单的列表渲染-带索引</h1>
    <ul>
        <li v-for="(i,index) in 3">{{i}}-{{index}}</li>
    </ul>

    <h1>遍历数据列表</h1>
    <!-- 语法: <tr v-for="对象 in 对象数组"> <td>{{对象的属性}}</td> </tr> -->
    <table width="400px" border="1px">
        <tr v-for="(monster,index) in monsters">
            <td>index：{{index}}</td>
            <td>{{monster.id}}</td>
            <td>{{monster.name}}</td>
            <td>{{monster.age}}</td>
        </tr>
    </table>

    <h1>及格学生列表</h1>
    <!-- 语法: <tr v-for="对象 in 对象数组"> <td>{{对象的属性}}</td> </tr> -->
    <table width="400px" border="1px">
        <tr v-for="student in students" v-show="student.score >= 60">
            <td>{{student.id}}</td>
            <td>{{student.name}}</td>
            <td>{{student.age}}</td>
            <td>{{student.score}}</td>
        </tr>
    </table>


</div>

<script type="text/javascript">
    // 创建一个vue对象
    let vm = new Vue({
        //创建的 vue 实例挂载到 id=app 的 div
        el: "#app",
        data: {
            // 这里是model的数据池，以K:V对的方式来显示
            monsters: [
                {id: 1, name: '牛魔王', age: 800},
                {id: 2, name: '黑山老妖', age: 900},
                {id: 3, name: '红孩儿', age: 200}],
            students:[{id: 1, name: '小明', age: 20,score:90},
                {id: 2, name: '小狗', age: 21,score:55},
                {id: 3, name: '小刚', age: 22,score:85}]


        }
    })
    console.log(vm);
</script>
</body>
</html>