<!DOCTYPE html>
<html lang="en" xmlns:v-model="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>数据双向绑定</title>
    <script type="text/javascript" src="vue.js"></script>
</head>
<body>
<div id="app">

    <h1>请输入你的姓名：</h1>
    <!--第一个输入框使用双向数据绑定，view变化会影响data中的数据，
    从而影响下面的第二个输入框和p标签,v-model 就是 value,所以可以省略value-->
    <!--<input type="text" v-model:value="name"><br>-->
    <input type="text" v-model="name"><br>
    <input type="text" :value="name"><br>
    <p>{{message}} - {{name}}</p>
    <h1>请输入你的照片：</h1>
    <input type="text" v-model="img_src" >
    <br><br>
    <img :src="img_src" :width="img_width"><br>
    <p>666.png:</p>
    <img src="666.png" :width="img_width"><br>
    <p>1.jpg:</p>
    <img src="1.jpg" :width="img_width"><br>




</div>

<script type="text/javascript">
    // 创建一个vue对象
    let vm = new Vue({
        //创建的 vue 实例挂载到 id=app 的 div
        el:"#app",
        data:{
            // 这里是model的数据池，以K:V对的方式来显示
            name : "jack",
            message : "hello",
            img_src:"666.png",
            img_width:"200px"
        }
    })
    console.log(vm);
</script>
</body>
</html>